:root {
    --main-color: #AE7C78;
    --button-color: #D89999;
  }
  

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
    background: #E5E5E5;
    font-size: 16px;
    line-height: 19.5px;
}
h1, h2, h3, h4, .bouqette-title {
    font-family: 'Playfair Display', serif;
}
h2, h3{
    font-weight: 700;
    font-size:36px;
    line-height: 48px;
}

nav {
    font-size: 16px;
}
cite {
    font-weight: 500;;
}
.title-big {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 44px;
    line-height: 59px;
}

.banner-title {

}
.banner-text {
    font-size:24px;
    line-height: 29px;;
}
.btn {
    background: var(--button-color);
    color: white;
    height: 80px;
    width: 285px;
    border-radius: 40px;
    padding:25px;
}
.feature-title {
    font-size:16px;
    font-weight: 500;
}
.feature-desc {
    font-size:16px;
    line-height: 19.5px;
}
.bouqette-title {
    color: #fff;
}
.bouqette-desc {
    color: #fff;

}
.footer-menu {
    color:#fff;
}
.contact-detail {
    font-weight: 500;
}